@import url("/css/header.css");
@import url("/css/footer.css");

/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Exo 2', sans-serif;
}


/*пЕРВЫЙ ЭКРАН*/

.hero-construction {
    max-width: 100%;
    background-image: url(/img/construction.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    top: -40px;
}

.hero-main-content {
    margin: 0 auto;
    width: 1200px;
    padding: 0 0 60px 20px;
    flex-direction: column;
    box-shadow: none;
}

.hero-title {
    font-size: 40px;
    padding: 140px 0 0 0;
    color: #000000;
    font-weight: 700;
}

.hero-description {
    font-size: 30px;
    width: 540px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 0 0;
}

.hero-description-correction {
    font-size: 30px;
    width: 777px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 0 0;
}

.title-span {
    color: #970010;
}

.title1-span {
    color: #970010;
}


.hero-content-block {
    background-repeat: no-repeat;
    width: 100%;
}

.cta-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cta-button_1 {
    background: transparent;
    font-weight: 500;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid #970010;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
    padding: 12px 20px;
    display: inline-block;
    transform: skew(-15deg);
}

.cta-buttons1 {
    display: flex;
    margin-top: 30px;
}

.cta-button1 {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
}

.cta-button1:hover {
    background-color: #970010;
}

.cta-button1_2 {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.mypoint {
    font-size: 42px;
    color: #970010;
}

.main-text {
    width: 680px;
}

.mytext-selection {
    font-size: 28px;
    font-weight: 500;
    color: #970010;
    line-height: 42px;
}

/* Оффер */

.offer {
    margin-top: 90px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.second-offer {
    display: flex;
    margin: 0 auto;
    max-width: 1160px;
    flex-direction: column;
}

.title-second-offer {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    line-height: 50px;

}

.description-second-offer {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    width: 1050px;
}

.text-second-offer {
    font-size: 30px;
    font-weight: 600;
    width: 1160px;
    padding-bottom: 20px;
}

.text-second-offer-construction {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

*слайдер-строительство*/ .carousel-construction {
    width: auto;
    overflow: hidden;
}

.carousel-construction-container {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 120px;
    transition: transform 0.3s ease-in-out;
}

.carousel-construction-container-2 {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    padding-right: 120px;
    transition: transform 0.3s ease-in-out;
}

.carousel-construction-item {
    flex-basis: 30%;
}

.carousel-construction-item img {
    width: auto;
    height: auto;
}

.buttons-offer {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 60px;
    margin-bottom: 120px;
    justify-content: center;
}

.button-offer {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 100px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
}

.button-offer:hover {
    background-color: #970010;
}

.accreditation-item {
    width: 50%;
    border-radius: 10px;
    background-color: #E9FFFA;
}

.accreditation-item-text {
    padding: 40px;
    text-align: center;
    font-size: 18px;
    color: #07C68F;
}

.accreditation-items-content {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    gap: 40px;
    padding-top: 60px;

}

.accreditation-main-item {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.main-item-wrapp {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.main-item-text {
    font-size: 24px;
    width: 60%;
}

.buttons-accreditation {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-top: -40px;
    padding-left: 40px;
    margin-bottom: 90px;
}

.buttons-accreditation-2 {
    display: flex;
    justify-content: flex-end;
    width: 1160px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 90px;
}

.main-item-text-2 {
    font-size: 24px;
    width: 60%;
    text-align: right;
    padding-right: 40px;
}

.example-accreditation {
    background-image: url(/img/accreditation.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 90px;
}

.example-wrapp {
    width: 1160px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 100px;
    margin-bottom: 90px;

}

.example-accreditation-item-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example-wrapp-pic {
    position: absolute;
    margin-top: 50px;
    margin-left: 310px;
    width: 280px;
}

.example-item {
    width: 520px;
    background-color: #fff;
    background-image: url(img/modern-balcony.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 10px 0 20px 20px;
}

.example-item-accreditation {
    width: 49%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0 0 20px;
}

.btn-forms-example {
    width: 210px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    background-color: #970010;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.btn:hover {
    background-color: #7eb2dd;
}

.example-title {
    font-size: 24px;
    font-weight: 600;
    width: 80%;
    margin: 0 0 10px 0;
}

.example-description {
    font-size: 16px;
    width: 70%;
    margin: 0 !important;
    padding-bottom: 30px;
}

.input-box input {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    border: 1px solid #970010;
    border-radius: 10px;
}

.proposals-wrapp {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    gap: 40px;
    padding-top: 90px;
}

.proposals-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    margin: 0 auto;
}

.proposals-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop1.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.proposals-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop2.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.proposals-item-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop3.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.proposals-item-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop4.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.proposals-item-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop5.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.proposals-item-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    padding: 20px;
    align-items: stretch;
    background-image: url(/img/prop6.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.item-texr-link {
    text-decoration: none;
    color: #970010;
    font-size: 20px;
}

.proposals-item-title {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.proposals-item-text {
    font-size: 18px;
    margin: 0 auto;
}

.button-proposals-item {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.proposals-item-btn {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 0;
    width: 100%;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    transition: background-color 0.3s;
}

.proposals-item-btn:hover {
    background-color: #970010;
}


.last-forms-offer {
    display: flex;
    width: 1160px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.title-last-forms-offer {
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
}

.description-last-forms-offer {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.clients-partners-forms {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.client-form-construction {
    background-image: url(/img/prop-fon-2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    width: 46%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.client-form-offer {
    font-size: 24px;
    color: black;
    padding: 0;
    margin: 0;
}


.name,
.text {
    display: block;
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0;
}

.input-box input {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    border: 1px solid #DB3544;
    border-radius: 10px;
}



.btn-forms-client {
    width: 210px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    background-color: #DB3544;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.btn-forms-client:hover {
    background-color: #970010;
}

.btn-policy {
    width: 70%;
}

/*Контакты*/
.title-our-contact-offer {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.social-contact {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.odnok {
    width: 200px;
}

.whatsapp,
.vk,
.tg {
    width: 50px;
}

.contacts-adress {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 24px;
}

.title-our-offer {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 80px auto 40px;
    width: 800px;
    gap: 20px;
}




.mynumber {
    text-decoration: none;
    color: #869791;
}


.grid-border {
    border-right: 1px solid #DB3544;
}