@import url("css/header.css");
@import url("css/footer.css");

/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Exo 2', sans-serif;
}

/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Exo 2', sans-serif;
}

/*пЕРВЫЙ ЭКРАН*/

.hero-correction {
    max-width: 100%;
    background-image: url(/img/correction-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    top: -40px;
}

.hero-main-content {
    margin: 0 auto;
    width: 1200px;
    padding: 0 0 60px 20px;
    flex-direction: column;
    box-shadow: none;
}

.hero-title {
    font-size: 40px;
    padding: 140px 0 0 0;
    color: #000000;
    font-weight: 700;
}

.hero-description-correction {
    font-size: 30px;
    width: 777px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 0 0;
}

.title1-span {
    color: #970010;
}


.hero-content-block {
    background-repeat: no-repeat;
    width: 100%;
}

.cta-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cta-button_1 {
    background: transparent;
    font-weight: 500;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid #970010;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
    padding: 12px 20px;
    display: inline-block;
    transform: skew(-15deg);
}

.cta-buttons1 {
    display: flex;
    margin-top: 30px;
}

.cta-button1 {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
}

.cta-button1:hover {
    background-color: #970010;
}

.cta-button1_2 {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.mypoint {
    font-size: 42px;
    color: #970010;
}

.main-text {
    width: 680px;
}

.mytext-selection {
    font-size: 28px;
    font-weight: 500;
    color: #970010;
    line-height: 42px;
}

/* Оффер */

.offer {
    margin-top: 90px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.second-offer {
    display: flex;
    margin: 0 auto;
    max-width: 1160px;
    flex-direction: column;
}

.title-second-offer {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    line-height: 50px;

}

.description-second-offer {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    width: 1050px;
}

.text-second-offer-correction {
    font-size: 30px;
    font-weight: 600;
    width: 888px;
    padding-bottom: 20px;
}

.advantages-items {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.advantages-item_1,
.advantages-item_2,
.advantages-item_3 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 30%;
}

.advantages-item_4,
.advantages-item_5,
.advantages-item_6 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 30%;
}

.advantages-items-correction {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 1160px;
    margin-top: 90px;
}

.offer-item-correction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 20px;
}

.advantages-items-correct {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.advantages-items-correct>div {
    width: 80%;
}

.advantages-img-item {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.advantages-items-what {
    padding-top: 20px;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.advantages-title {
    font-size: 24px;
    padding: 0;
    margin: 20px 0 20px 0;
}

.advantages-title-correction {
    font-size: 24px;
    padding: 0;
    width: 456px;
}

.advantages-text {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.advantages-item_1 img,
.advantages-item_2 img,
.advantages-item_3 img {
    width: 80px;
}

.btns-correction-offer {
    position: absolute;
}

.btn-correction-offer {
    top: -40px;
    left: 20px;
    position: relative;
    display: block;
    background-color: rgb(219, 53, 68);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 80px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s ease 0s;
}

.cta-buttons5 {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 80px;
    justify-content: center;
}

.cta-button5 {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 100px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
}

.cta-button5:hover {
    background-color: #970010;
}

.advantage-correction-wrapp {
    padding-top: 120px;
}

.advantage-correction-pic {
    position: absolute;
    padding-left: 700px;
}

/*блок примеров*/

.reason {
    width: 1160px;
    margin: 0 auto;
}

.reason-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reason-wrapp {
    padding-top: 40px;
}

.reason-item-text {
    font-size: 24px;
}

.reason-button {
    padding-top: 60px;
}

.third-offer {
    display: flex;
    margin: 0 auto;
    max-width: 1160px;
    flex-direction: column;
    padding-top: 120px;
}

.title-third-offer {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    line-height: 50px;

}

.description-third-offer {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    width: 1050px;
}

.text-third-offer {
    font-size: 30px;
    font-weight: 600;
}

/*блок кредитная история*/

.credit-history-wrap {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 40px;
    gap: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.credit-history-text {
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 10px;
}

.credit-history-pic img {
    width: 108%;
}

.credit-history-content-1 {
    display: flex;
    width: 34%;
    border-radius: 10px;
    padding: 20px 10px 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.title-content-1 {
    font-size: 26px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.credit-history-content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
    width: 33%;
}

.credit-check {
    position: absolute;
    margin: -30px 0 0 0;
}

.credit-history-item-text {
    font-size: 20px;
    margin: 0;
    padding: 7px 0 10px 0;
    line-height: 24px;
}

.credit-history-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.credit-history-item-2 {
    display: flex;
    width: 100%;
    background-color: #E9FFFA;
    border-radius: 10px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}

.credit-history-item-2>img {
    width: 60px;
}

.credit-history-item-3 {
    display: flex;
    width: 100%;
    background-color: #E9FFFA;
    border-radius: 10px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}

.credit-history-item-2-text {
    font-size: 20px;
    text-align: center;
}

.btn-correction-offer {
    position: relative;
    display: block;
    background-color: rgb(219, 53, 68);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s ease 0s;
}

.btn-correction-offer-2 {
    top: 90px;
    position: relative;
    display: block;
    background-color: rgb(219, 53, 68);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s ease 0s;
}

/**/


.example-wrapp {
    width: 1160px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 90px;

}

.example-correction {
    background-image: url(/img/screen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 90px;
}

.example-correction-item-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example-wrapp-pic {
    position: absolute;
    margin-left: 260px;
    margin-top: 50px;
}

.example-item {
    width: 520px;
    background-color: #fff;
    background-image: url(img/modern-balcony.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 10px 0 20px 20px;
}

.example-item-correction {
    width: 49%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0 0 20px;
}

.btn-forms-example {
    width: 210px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    background-color: #DB3544;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.input-box input {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    border: 1px solid #970010;
    border-radius: 10px;
}

.btn-forms-example:hover {
    background-color: #970010;
}

.example-title {
    font-size: 24px;
    font-weight: 600;
    width: 80%;
    margin: 0 0 10px 0;
}

.example-description {
    font-size: 16px;
    width: 70%;
    margin: 0 !important;
    padding-bottom: 30px;
}

/**/

.slider-correction {
    width: 1160px;
    margin: 0 auto;
    padding-top: 90px;
}

/*Пятая секция*/

.last-forms-offer {
    width: 1160px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title-last-forms-offer {
    font-size: 32px;
    font-weight: 600;
    padding-top: 40px;
}

.description-last-forms-offer {
    font-size: 30px;
    display: inline-block;
    margin: 0;
}

.clients-partners-forms {
    padding-top: 60px;
    padding-bottom: 10px;
    width: 1160px;
    margin: 0 auto;
}

.client-form,
.client-form_2 {
    width: 42%;
}

.client-form-correction {
    background-image: url(/img/Group-yes.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 20px;
    width: 46%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-forms-client {
    width: 210px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    background-color: #DB3544;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.btn-forms-client:hover {
    background-color: #970010;
}

.btn-policy {
    width: 70%;
}

/* Слайдер */
.offer-slider {
    padding-top: 80px;
    padding-bottom: 60px;
}

.cool-offer-slider_1 {
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 40px;
}

.cool-offer-slider_2 {
    position: absolute;
    z-index: 999;
    top: 20%;
    right: 40px;
}

.sim-slider {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.sim-slider-list img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: -20px;
    top: 50%;
    display: block;
    background: url("/img/ar-right.svg") no-repeat;
}

div.sim-slider-arrow-right {
    right: -20px;
    top: 50%;
    display: block;
    background: url("/img/ar-left.svg") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    display: none;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}


/*Контакты*/
.title-our-contact-offer {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.social-contact {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.odnok {
    width: 200px;
}

.whatsapp,
.vk,
.tg {
    width: 50px;
}

.contacts-adress {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 24px;
}

.title-our-offer {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 80px auto 40px;
    width: 800px;
    gap: 20px;
}




.mynumber {
    text-decoration: none;
    color: #869791;
}


.grid-border {
    border-right: 1px solid #DB3544;
}