/* Шапка */
header {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

nav li :hover {
    color: #DB3544;
    font-weight: 500;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

.personal-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.personal-area a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

.social-icon_1 {
    width: 100px;
    margin-right: 25px;
}

.social-icon_2,
.social-icon_3,
.social-icon_4 {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.gamburger-menu {
    display: none;
}

.logo-menu-img {
    width: 200px !important;
    padding-left: 20px;
}

#menu__toggle {
    opacity: 0;
    display: none;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 5px 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.dropbtn {
    background-color: #ffffff;
    font-size: 16px;
    border: none;
    font-family: inherit;
    padding: 0;
}
.dropbtn {
    background-color: #ffffff;
    font-size: 16px;
    border: none;
    font-family: inherit;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
}

.dropdown-content-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content-menu a {
    color: black;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #DB3544;
}

.dropdown:hover .dropdown-content {
    display: grid;

}

.dropdown:hover .dropdown-content-menu {
    display: grid;

}

.dropdown:hover .dropbtn {
    color: #DB3544;
    font-weight: 500;
}

  @media screen and (max-width: 1024px) {
    .gamburger-menu {
        display: none;
    }

    .menu__btn {
        display: block;
        top: 11px;
    }

    .header-container {
        width: 980px;
    }

    nav {
        display: none !important;
    }

  }  
  @media screen and (max-width: 768px){
    header {
        padding: 0px !important;
    }

    .header-container {
        max-width: 728px;
    }
  }
  @media (min-width: 320px) and (max-width: 767px){
    .header-container {
        max-width: 310px;
        justify-content: center;
        align-items: normal;
    }

    header {
        padding: 5px 0 0 0 !important;
    }

    .logo img {
        height: 40px;
    }

    .social-icon_1 {
        margin: 0 0 0 25px;
        width: auto;
    }

    .personal-area {
        gap: 5px;
    }

    .personal-area img {
        width: 80px;
    }

    .social-icon_2 img,
    .social-icon_3 img,
    .social-icon_4 img,
    .social-icon_5 img,
    .social-icon_6 img,
    .social-icon_7 img {
        width: 20px !important;
    }

    .dropbtn img {
        width: 20px !important;
    }

    .menu__btn {
        width: 20px;
        padding-left: 10px;
        margin-right: 10px;
        top: 12px;
    }
  }

